#add-location-page #map {
    width: 100%;
    height: 458px;
}

.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

.controls:focus {
    border-color: #4d90fe;
}

.hidden {
    display: none;
}

.card-body {
    padding: 15px;
}

/**
* /..Loader
*/

.lds-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    z-index: 1000;
}

.blockPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: #fcfcfcc2;
}

.blockPage .Lds-ring {
    position: relative !important;
    margin-left: calc(50% - 32px);
    top: calc(50% - 32px);
    z-index: 1000;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #00ad79;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #00ad79 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.panel-overlay-wrap {
    position: relative;
}

.panel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    z-index: 795;
}

.panel-overlay:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle;
    margin-left: -5px;
}

.panel-overlay-title {
    margin: 10px 0 5px;
}

.panel-overlay-icon {
    display: inline-block;
    vertical-align: middle;
}

.panel-overlay-content {
    display: inline-block;
    vertical-align: middle;
}

.panel-overlay-icon i,
.text-success {
    color: #00ad79 !important;
}

/**
* /..Loader
*/

.bootstrap-tagsinput {
    width: 100% !important;
}

.btn .fa {
    margin: 0;
}

table select.form-control {
    margin: 0;
}

.map-results-detail-gallery .slick-initialized .slick-slide {
    height: 200px;
}

.slick-initialized .slick-slide{
    height: 350px;
}

.footer-wrapper .nav-pills .nav-item:nth-child(2n),
.footer-wrapper .nav-pills .nav-item {
    float: unset;
}

.infobox .table th, .infobox .table td {
    padding-left: 8px;
    padding-right: 8px;
}

.map-filter-wrapper, .hero-image-filter-wrapper{
    right: 40px !important;
    top: 16% !important;
}

.carousel-fullwidth {
    background-color: #53bfb6;
    margin: 0 -1200px 0px -1200px;
    overflow: hidden;
}

.map-filter .form-control, .hero-image-filter .form-control{
    color: black !important;
}